<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
	<meta name="author" content="author name" />
	<meta name="keywords" content="keywords" />
	<meta name="description" content="description" />
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
	<section class="index">
		<p>Bobby !!!</p>
		<i class="iconfont icon-phone"></i>
		<img src=<%= require("./images/logo.jpg") %> /> 
	</section>
</body>
</html>
